<mat-toolbar color="primary">
  <div class="content">
    <a [routerLink]="['']" aria-label="Go to Home" class="content__logo">
      <img
        src="../../../../assets/images/lantern.svg"
        height="30px"
        width="30px"
        alt="Lantern Logo"
      />
      <span class="home-link">Daytime Lantern</span>
    </a>
    <div *ngIf="viewModel$ | async as viewModel">
      <button
        (click)="toggleDrawer()"
        mat-icon-button
        aria-label="Toggle side navigation"
        *ngIf="(viewModel?.deviceSize ?? 0) < 700"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
