<header>
  <app-topbar></app-topbar>
</header>
<mat-drawer-container *ngIf="viewModel$ | async as viewModel">
  <mat-drawer
    (closed)="closeDrawer()"
    [mode]="(viewModel?.deviceSize ?? 0) < 700 ? 'over' : 'side'"
    [opened]="viewModel?.isOpen"
  >
    <app-nav-menu></app-nav-menu>
  </mat-drawer>
  <mat-drawer-content>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
    <footer>
      <app-footer></app-footer>
    </footer>
  </mat-drawer-content>
</mat-drawer-container>
