@import "variables";

.list {
  background-color: white;
  position: sticky;
  overflow-y: auto;
  ul {
    .link {
      text-decoration: none;
      color: $primary;
      padding: 1rem;
      background-color: white;
      display: block;
      &.is-active {
        color: white;
        background-color: $primary;
      }
    }
  }
}
